.site-name {
  color: cornflowerblue;
  font-size: 2rem;
  height: 150px;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  .header {
    height: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    height: 520px;
  }
}
@media (max-width: 991px) {
  .header {
    height: 520px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    height: 450px;
  }
}

body {
  background-image: url("bg-monitor.png");
  background-repeat: no-repeat;
  background-position: center top;
}

@media (max-width: 1200px) {
  body {
    background-size: contain;
  }
}

.btn-warning {
  width: 250px;
}

.media {
  padding: 20px 20px 30px 40px;
  border: 1px solid lightgray;
  position: relative;
  box-shadow: 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.media.right-arrow {
  position: absolute;
  top: 20px;
  right: 40px;
}

.media-subtitle {
  font-size: 0.75rem;
  color: grey;
}
.avatar {
  height: 50px;
  width: 50px;
  margin-right: 40px;
  border: 3px solid aquamarine;
}

.box {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
/* when box wraps to a second line use a margin bottom to give space between the upper one and the above one */
@media (max-width: 992px) {
  .box {
    margin-bottom: 1rem;
  }
}

.box-title {
  font-weight: bold;
}

.box-text {
  color: lightslategrey;
}

.box i {
  padding-bottom: 20px;
}

.footer {
  margin-top: 150px;
}

.footer-links {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: flex-end;
}

.footer-links a {
  margin: 0 10px;
  color: grey;
}

.footer-links a:last-child {
  margin-right: 0;
}
